<!doctype html>
<html class="h-100" lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="title" content="{{title}} | Quran">
    <meta property="og:title" content="{{title}} | Quran">
    <meta name="description" content="Read Quran in 90+ languages" />
    <meta property="og:description" content="Read Quran in 90+ languages">
    <meta name="theme-color" content="#0dcaf0">
    <meta name="msapplication-TileColor" content="#0dcaf0">
    <meta name="msapplication-TileImage" content="{{{relative}}}images/quran.jpg">
    <meta property="og:site_name" content="Quran">
    <meta name="application-name" content="Quran">
    <meta name="apple-mobile-web-app-title" content="Quran">
    <link rel="apple-touch-icon" sizes="180x180" href="{{{relative}}}icons/apple-icon-180x180.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://fawazahmed0.github.io/quran/{{meta.filename}}" />
    <meta property="og:image" content="{{{relative}}}images/quran.jpg" />

    <script type="application/ld+json"> {
        "@context": "https://schema.org",
        "@graph": [{
          "@type": "WebSite",
          "@id": "https://fawazahmed0.github.io/quran/{{meta.filename}}#website",
          "url": "https://fawazahmed0.github.io/quran",
          "name": "Quran"
        }, 
          {
          "@type": "WebPage",
          "@id": "https://fawazahmed0.github.io/quran/{{meta.filename}}#webpage",
          "url": "https://fawazahmed0.github.io/quran",
          "name": "Quran",
          "description": "Read Quran in 90+ languages"
        }]
      } </script>

    <script type="application/ld+json"> {
      "@context": "https://schema.org",
      "@type": "Organization",
      "url": "https://fawazahmed0.github.io/quran",
      "@id": "https://fawazahmed0.github.io/quran#organization",
      "name": "Quran",
      "logo": "{{{relative}}}icons/android-icon-72x72.png"
    } </script>

    <script defer type="module">
        // Register Service worker for Add to Home Screen option to work
        if ('serviceWorker' in navigator) { navigator.serviceWorker.register(new URL('{{{relative}}}service-worker.js', import.meta.url)) }
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158869197-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-158869197-1');
    </script>
    
    <script type="module">
     if (!('fragmentDirective' in Location.prototype) && !('fragmentDirective' in document)) 
          import('text-fragments-polyfill')
    </script>

    <link rel="icon" type="image/x-icon" href="{{{relative}}}icons/favicon.ico">
    <link rel="manifest" href="{{{relative}}}manifest.webmanifest" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <title>{{title}}</title>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>

<body class="d-flex flex-column h-100">


    <main class="flex-shrink-0">
        <div id="mycontainer" class="container mt-1">

            {{{containercode}}}

        </div>


    </main>


    <footer class="footer mt-auto {{footerclass}} py-3 bg-light">
        <div class="container">



            <div class="mt-3 text-center">

                <a href="https://fawazahmed0.github.io/quran" class="link-primary  mx-1">Home</a>
                <a href="{{{relative}}}list" class="link-primary  mx-1">Single Verse</a>
                <a href="https://fawazahmed0.github.io/islamic-project" target="_blank" rel="noopener noreferrer"
                    class="link-primary  mx-1">Islamic Apps</a>
                <a href="mailto:fawazahmed0@hotmail.com?subject=Regarding fawazahmed0.github.io/quran" target="_blank"
                    rel="noopener noreferrer" class="link-primary  mx-1">Contact us</a>



            </div>

            <span class="float-end">
                <div>
                    <a href="https://play.google.com/store/apps/details?id=io.github.fawazahmed0.twa" class="mx-1" target="_blank"
                        rel="noopener noreferrer">
                        <img src="{{{relative}}}icons/google-play-badge.svg" alt="Get it on Google Play" height="70" />
                    </a>
                </div>
            
            
            
                <div>
                    <a href="https://www.youtube.com/user/JavaDB9/playlists" class="mx-1 link-light" target="_blank"
                        rel="noopener noreferrer">
                        <img src="icons/youtube.svg" alt="YouTube" height="17" />
                    </a>
                    <a href="https://github.com/fawazahmed0/quran" class="mx-1" target="_blank" rel="noopener noreferrer">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-github"
                            viewBox="0 0 16 16">
                            <path
                                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z">
                            </path>
                        </svg>
                    </a>
                </div>
            
            
            </span>
        </div>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

</html>
