<!-- Do not format this html, it will not work, if you do format, then test-->
<script src="index.js" type="module"></script>
<script defer src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script defer src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script defer src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@x.x.x/dist/select2-bootstrap4.min.css">

  <style>
    @font-face {
        font-family: 'Noto Sans Arabic';
        src: url('https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/noto-sans-arabic-regular.woff2') format('woff2');
    }

    li[class^="ara-"]:not(.ara-quranindopak):not(.ara-quranbazzi):not(.ara-quranqumbul):not(.ara-quranshouba):not(.ara-quransoosinonun):not(.ara-quranwarsh):not(.ara-qurandoori):not(.ara-qurandoorinonun):not(.ara-quranqaloon):not(.ara-qurannastaleeqn):not(.ara-quransoosi):not([class$="-lad"]):not([class$="-la"]) {

        font-family: 'Noto Sans Arabic', serif;

    }

    @font-face {
        font-family: 'Nastaleeq';
        src: url('https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/nastaleeq-v10-full.woff2') format('woff2');
    }

    .ara-quranindopak {
        font-family: 'Nastaleeq', serif;
        font-size: xx-large;
    }

    @font-face {
        font-family: 'Nastaleeq Non Unicode';
        src: url('https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/hafs-nastaleeq-ver10.woff2') format('woff2');
    }

    .ara-qurannastaleeqn {
        font-family: 'Nastaleeq Non Unicode', serif;
        font-size: xx-large;

    }

    @font-face {
        font-family: 'Bazzi';
        src: url('https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/bazzi-v7-full.woff2') format('woff2');
    }

    .ara-quranbazzi {
        font-family: 'Bazzi', serif;
        font-size: xx-large;

    }

    @font-face {
        font-family: 'Doori';
        src: url('https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/doori-v8-full.woff2') format('woff2');
    }

    .ara-qurandoori {
        font-family: 'Doori', serif;
        font-size: xx-large;

    }

    @font-face {
        font-family: 'Doori Non Unicode';
        src: url('https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/uthmanic-doori1-ver08.woff2') format('woff2');
    }

    .ara-qurandoorinonun {
        font-family: 'Doori Non Unicode', serif;
        font-size: xx-large;

    }

    @font-face {
        font-family: 'Qaloon';
        src: url('https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/qaloon-v8-full.woff2') format('woff2');
    }

    .ara-quranqaloon {
        font-family: 'Qaloon', serif;
        font-size: xx-large;

    }


    @font-face {
        font-family: 'Qumbul';
        src: url('https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/qumbul-v7-full.woff2') format('woff2');
    }

    .ara-quranqumbul {
        font-family: 'Qumbul', serif;
        font-size: xx-large;

    }

    @font-face {
        font-family: 'Shouba';
        src: url('https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/shouba-v7-full.woff2') format('woff2');
    }

    .ara-quranshouba {
        font-family: 'Shouba', serif;
        font-size: xx-large;

    }

    @font-face {
        font-family: 'Soosi';
        src: url('https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/soosi-v8-full.woff2') format('woff2');
    }

    .ara-quransoosi {
        font-family: 'Soosi', serif;
        font-size: xx-large;

    }

    @font-face {
        font-family: 'Soosi Non Unicode';
        src: url('https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/uthmanic-soosi1-ver08.woff2') format('woff2');
    }

    .ara-quransoosinonun {
        font-family: 'Soosi Non Unicode', serif;
        font-size: xx-large;

    }

    @font-face {
        font-family: 'Warsh';
        src: url('https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/warsh-v8-full.woff2') format('woff2');
    }

    .ara-quranwarsh {
        font-family: 'Warsh', serif;
        font-size: xx-large;

    }

    @font-face {
        font-family: 'Burmese';
        src: url('https://cdn.jsdelivr.net/gh/fawazahmed0/quran@main/fonts/burmese.woff2') format('woff2');
    }
    
    [class^="mya-"]{
        font-family: 'Burmese', serif;

    }
</style>

<div class="row">
    <div class="col-sm">
        <select class="js-example-basic-multiple form-select me-2" id="translationdropdown" aria-label="translationdropdown"
            onchange="showTranslations(this); return false;" name="trans[]"  multiple="multiple">
            <option value="">Translations</option>
        </select>
    </div>


</div>
<nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top">
    <div class="row">
        <div class="col-5 me-2">
            <select class="form-select js-example-basic-single" id="chapter" onchange="showTranslations(this); return false;"
                aria-label="chapter" name="chapselect">
                <option value="" selected>Chapter</option>
            </select>




        </div>
        <div class="col-5 ms-2">
            <select name="verseselect" class="form-select js-example-basic-single" id="verse" onchange="location = this.value;" aria-label="verse">
                <option value="" selected>Verse</option>
            </select>
        </div>

       

      
        <div class="col">
            <a id="donatebtn" class="btn btn-outline-info"
                href="https://fawazahmed0.github.io/donate.html?mymsg=Thank%20you%20for%20using%20my%20Quran%20Web%20App%2C%20I%20would%20love%20if%20you%20also%20share%20it%20with%20your%20family%20%26%20friends%20because%20God%20says%3A%3Cbr%3E%3Cbr%3E%0A%20%3Cb%3E%3Cem%3EHelp%20each%20other%20in%20goodness%20and%20piety%2C%20but%20do%20not%20cooperate%20in%20wrong%20and%20hurting%20others.%20And%20fear%20God%2C%20Truly%2C%20God%20is%20severe%20in%20punishment%20-%20Quran%205%3A2%20%3C%2Fem%3E%3C%2Fb%3E%0A%20%0A%20&sharelink=http%3A%2F%2Ffawazahmed0.github.io%2Fquran&smallsharetext=Read%20Quran%20in%2090%2B%20languages&largesharetext=Read%20Quran%20in%20your%20language&sharebtnmsg=Share%20the%20Quran&nodonatebtn=No"
                role="button" target="_blank" rel="noopener noreferrer">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-share" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z" />
                </svg>

            </a>
        </div>

    </div>

</nav>
<div class="row  fs-4"">
    <div id="versescolumn">

    </div>


</div>
